
body{
    background-color: #444;
}

h1{
    text-align: center;
    color:whitesmoke;
    font-size : 10vh;
}

.container{
    background-color: white;
    box-shadow: 0px 16px 32px 0px rgba(0,50,50,0.7);
    margin:auto;
    width: 70vw;
    height: 40vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows : 1fr 1fr 4fr;
    grid-gap:10px;
    justify-items: center;
    align-items: center;
    padding-top : 5vh;
    transition:all 0.5s;
    z-index:1;
}

.result{
    margin:auto;
    display:grid;
    grid-template-rows:1fr 10fr;
    background-color: white;
    width:70vw;
    height:40vh;
    padding:5px;
}
.back{
    grid-row-start: 1;
    align-self: flex-start;
    text-decoration: none;
    color:blue;
    font-weight:bold;
}
.back:hover{
    color:orange;
}
.info{
    grid-row-start:2;
    display:grid;
    grid-template-columns :1fr 3fr;
    grid-template-rows: repeat(4,1fr);
    grid-gap:5px;
    font-size:2vw;
    text-align:center;
    justify-content: center;
}


.image{
    grid-area: 1 / 1 / 4 / 2;
    border:1px solid rgba(0,0,0,0.5);
    background-position: center;
    background-size:cover;
}

.cloudy{
    background-image: url('./images/cloudy.png');
    background-image: cover;
}
.rainy{
    background-image: url('./images/rainy.png');
}

.cur__temp{
    grid-area: 1 / 2 / 2 / 3;
}

.max_min{
    grid-area: 2 / 2 / 3 / 3;
}

.humidity{
    grid-area: 3 / 2 / 4 / 3;
}

.info_feel{
    text-align :left;
    margin-top: 10px;
    border-top:2px solid rgba(0,50,50,0.7);
    grid-area: 4 / 1 / 5 / 3;
}

.zip{
    padding: 0.5vw;
    font-size:0.8em;
    width:50%;
}
.feeling{
    padding : 0.5vw;
    font-size:0.8em;
    width:50%;
}
@media(min-width:600px) and (max-width:900px){
    .container{
        width:50vw;
    }
    .result{
        width:50vw;
    }
    .zip{
        font-size:1.2em;
    }
    .feeling{
        font-size:1.2em;
    }
    .info{
        font-size:2vw;
    }
}

@media(min-width : 900px){
    .container{
        width:50vw;
    }
    .result{
        width:50vw;
    }
    .zip{
        font-size:1.2em;
    }
    .feeling{
        font-size:1.2em;
    }
    .info{
        font-size:1.7vw;
    }
}

.form{
    margin : 1vh 4vw 1vh 4vw;
}

.btn{
    background-color: blueviolet;
    width : 20vw;
    height : 10vh;
    color : white;
    font-size : 1.5em;
    transition : all 0.2s;
    border:none;
    border-radius : 5px;
    font-weight: bold;
}

.btn:hover{
    background-color:inherit;
    border: 1px blueviolet solid;
    color:#444;
}



.invisible{
    display:none;
}


/*.blur{
    backdrop-filter: blur(5px);
}*/
